.DS_Store
.idea
*.ai
*.log
*.pdf
*.psd
*.sublime*
custom/
dev/
styling/
faviconData.json
gulp-config.json
gulp-config-dev.json
gulp-config-dev1.json
gulp-config-dev2.json
node_modules/
npm-debug.*
prod/
source/css/*.css
source/img/
source/img-old/
Thumbs.db
yaspeller_report.html
.vscode/
.idea/
!source/css/*min.css
package-lock.json
