.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .container();
  padding-top: 16em;
  padding-bottom: 12em;

  &__animated-logo {
    flex-grow: 1;
  }

  @media (min-width: @md-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 1.6rem;
    padding-bottom: 1.2rem;
    justify-content: flex-end;
  }

  @media (min-width: @lg-width) {
    align-items: flex-start;
    position: unset;
    top: unset;
    left: unset;
    padding-top: 43px;
    padding-bottom: 0;

  }
}

.page--inner .main-nav {
  @media (min-width: @md-width) {
    position: unset;
    top: unset;
    left: unset;
  }
  @media (min-width: @lg-width) {
    padding-top: 3.7rem;
    padding-bottom: 3.7rem;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
  }

  @media (min-width: @max-width) {
    gap: 20rem;
  }

  &__animated-logo {
    @media (min-width: @lg-width) {
      flex-grow: unset;
    }
  }
}
