.articles {
  &__list {
    & .article {
      &__img-wrap {
        overflow: hidden;
        position: relative;
        line-height: 0;

        &::before {
          position: absolute;
          content: "";
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.5) 100%);
          transition: @transition;
          z-index: 5;
        }

      }

      & img {
        .mp();
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        transition: 4s;
      }

      &__info {
        position: absolute;
        left: 10em;
        bottom: 10em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        gap: 10em;
        transition: @transition;
        color: @light;
        z-index: 5;

        @media (min-width: @md-width) {
          left: 2.3rem;
          bottom: 2.3rem;
          gap: 1.6rem;
        }
      }

      &__type {
        .mp();
        .text-small-caps();
        padding: 0.33em 0.50em;
        border: 1px solid #CACACA;
        border-radius: 2px;
      }

      &__date {
        .mp();
        .text-small-caps();
      }

      &__title {
        .mp();
        .text-title();
        transition: @transition;
        z-index: 10;
      }
    }
  }


  & img {
    aspect-ratio: 2.8 / 2.2;
  }

  &__item {
    &--main {
      @media (min-width: @md-width) {
        & .article {
          &__img-wrap {
            height: 100%;
          }

          &__title {
            .text-title-big();
            position: absolute;
            bottom: 8rem;
            left: 3rem;
            color: @light;
          }
        }

        & .articles__item-link {
          &:hover,
          &:focus {
            .article__title {
              color: @dark-gray;
            }
          }
        }
      }

      & img {
        @media (min-width: @lg-width) {
          aspect-ratio: 2 / 1;
        }

        @media (min-width: @max-width) {
          aspect-ratio: 2.5 / 2;
        }
      }


    }

    &--pushkincard {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 10em;
        width: 40em;
        height: 45em;
        background-color: @light;
        z-index: 2;
        border-radius: 0 0 50% 50%;
        background-image: url("../img/articles/pushkin.svg");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 22em 24em;

        @media (min-width: @md-width) {
          right: 1rem;
          width: 4rem;
          height: 4.5rem;
          background-size: 2.2rem 2.4rem;
        }
      }
    }
  }

  &__item-link {
    &:hover,
    &:focus {
      & .article {
        &__img-wrap {
          &::before {
            height: 100%;
            background: rgba(@green, 0.6);
          }

          & img {
            transform: scale(1.1);
          }
        }

        &__info {
          color: @dark-gray;
        }

        &__type {
          border: 1px solid @dark-gray;
        }
      }
    }
  }
}
.events .articles {
  &__list {
    & .article {
      &__img-wrap {
        margin-bottom: 10em;

        @media (min-width: @md-width) {
          margin-bottom: 1.2rem;
        }
      }


      &__item--main {
        @media (min-width: @xl-width) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.projects .articles {
  &__list {
    & .article {
      &__img-wrap {
        margin-bottom: 10em;

        @media (min-width: @md-width) {
          margin-bottom: 1.2rem;
        }
      }

      & img {
        @media (min-width: @xl-width) {
          aspect-ratio: unset;
          height: 400px;
        }
      }
    }
  }
}

.guide .articles {
  &__list {
    & .article {
      &__img-wrap {
        margin-bottom: 10em;

        @media (min-width: @md-width) {
          margin-bottom: 1.2rem;
        }
      }

      & img {
        @media (min-width: @md-width) {
          aspect-ratio: 370 / 492;
        }
      }

      &__title {
        @media (min-width: @md-width) {
          margin-bottom: 0.6rem;
        }
      }

      &__location {
        .mp();
        .text-small();
      }
    }
  }
}

.first-person .articles {
  &__list {
    & .article {
      &__img-wrap {
        margin-bottom: 10em;

        @media (min-width: @md-width) {
          margin-bottom: 1.2rem;
        }
      }

      &__title {
        @media (min-width: @md-width) {
          .text-title-big();
          position: absolute;
          bottom: 8rem;
          left: 3rem;
          color: @light;
        }

      }
    }
  }

  &__item--main {
    & img {
      @media (min-width: @md-width) {
        aspect-ratio: 1585 / 600;
      }
    }
  }


}






