//breakpoints
@sm-width: 320px;
@md-width: 576px;
@mobile-width-only: 767.98px;
@md-width: 768px;
@lg-width: 992px;
@xl-width: 1200px;
@max-width: 2001px;

//color
@light: #ffffff;
@dark: #000000;
@light-gray: #F5F5F5;
@dark-gray: #433C3C;
@green: #78C680;

//general
@bg-body: @light; /*Цвет фона страницы*/
@text-color: @dark-gray; /*Цвет цвет текста*/

@min-height-header: 60px;
@transition: 0.4s;
