.search {
  width: 100%;
  max-width: 50rem;
  display: inline-block;

  @media (min-width: @md-width) {
    height: 4.2rem;
  }

  &__form {
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-flex;
    align-items: center;
  }

  &__input {
    width: 100%;
    height: 2.85em;
    .mp();
    .text-small();
    border: none;
    background-color: rgba(217, 217, 217, 0.1);
    border-radius: 0.42em;
    padding: 0.7em 3em 0.7em 1.5em;


    @media (min-width: @md-width) {
      height: 4.2rem;
      border-radius: 0.5rem;
      padding: 0.5rem 5.6rem 0.5rem 2.8rem;
    }
  }

  &__btn-submit {
    .btn-reset();
    position: absolute;
    top: 50%;
    right: 0.75em;
    transform: translateY(-50%);
    width: 35em;
    height: 35em;
    border-radius: 0.42em;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: @md-width) {
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 0.5rem;
    }

    &:hover,
    &:focus {
      & .icon {
        & use.icon__symbol {
          stroke: @green;
        }
      }
    }

    & .icon {
      width: 16em;
      height: 16em;

      @media (min-width: @md-width) {
        width: 2.4rem;
        height: 2.4rem;
      }

      & use.icon__symbol {
        stroke: @dark;
      }
    }
  }
}

.page--index .main-header .search {
  @media (min-width: @lg-width) {
    display: flex;
    max-width: unset;
    justify-content: flex-end;
    width: 40%;
    flex-grow: 1;

    &__form {
      max-width: 50rem;

    }
  }
}

.page--inner .main-header .search {
  @media (min-width: @lg-width) {
    width: 4.2rem;
    max-width: unset;

    &__input {
      @media (min-width: @lg-width) {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 0;
        padding: 0;
      }
    }

    &__btn-submit {
      position: unset;
      top: unset;
      right: unset;
      transform: unset;
    }
  }
}
