.form {
  display: flex;
  flex-direction: column;
  column-gap: 2em;
  font-size: calc(100vw / 320);

  @media (min-width: @lg-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 3.5rem;
    row-gap: 1.5rem;
  }

  &__fieldwrap {
    position: relative;
    display: flex;
    width: 100%;
    flex-grow: 1;

    @media (min-width: @lg-width) {
      width: auto;
      flex-grow: 0;
    }
  }

  & select,
  & input,
  & label {
    .text();
    color: @dark-gray;
    padding-left: 2.61em;
  }

  & select {
    .mp();
    border: none;
    width: 100%;

    @media (min-width: @lg-width) {
      width: 370px;
      border: 1px solid #D9D9D9;
      padding: 0.5em;
    }

    & option {
      .mp();
      font-size: 1em;
    }
  }

  & input {
    .mp();
    border: none;
  }

  & input[type=date] {
    width: 100%;

    @media (min-width: @lg-width) {
      width: 370px;
      border: 1px solid #D9D9D9;
      padding: 0.5em;
    }
  }

  & input[type=checkbox] {
    box-sizing: border-box;
    width: 40px;
    height: 20px;

    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);

    & + label {
      width: 100%;
      position: relative;
    }

    & + label {

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 1.54em;
        height: 0.77em;
        border: 0.15em solid @dark-gray;
        border-radius: 0.5em;
        transform: translateY(-50%);
      }

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0.20em;
        width: 0.4em;
        height: 0.4em;
        border-radius: 50%;
        background-color: @dark-gray;
        transform: translateY(-50%);

      }
      &::before,
      &::after {
        opacity: 0.5;
        transition: @transition;
      }
    }

    &:checked {
      & + label {
        &::before {
          opacity: 1;
        }
        &::after {
          left: 0.9em;
          opacity: 1;
        }
      }
    }
  }
}

.projects__filter-form,
.search-result__filter-form {
  & select {
    border: 1px solid #D9D9D9;
    padding: 0.63em 3.13em 0.63em 0.63em;
    margin-bottom: 1.87em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url("../img/form/chevron-down.svg") no-repeat;
    background-size: 1.25em 1.25em;
    background-position: center right 0.93em;

    @media (min-width: @md-width) {
      margin-bottom: 4rem;
      padding: 1.3rem 7rem 1.3rem 2rem;
      background-size: 1.5em 1.5em;
      background-position: center right 2.5rem;
    }
  }

  & label {
    font-size: 2.4rem;
    font-weight: 700;
    color: @dark-gray;
    padding: 0.63em 0.83em;
    border: 1px solid #D9D9D9;
    transition: @transition;
    cursor: pointer;
  }
  & input[type=radio] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);

    & + label {
      width: 100%;
      position: relative;
    }

    &:checked {
      & + label {
        border: 1px solid @green;
        background-color: @green;
        color: @light;
      }
    }
  }
}



.iamhere__filter-form {


  & label {
    .text-title-big();
    text-align: center;
    font-weight: 700;
    color: @dark-gray;
    padding: 0.5em 0.75em;
    border: 1px solid #D9D9D9;
    transition: @transition;

    @media (min-width: @md-width) {
      font-size: 2.4rem;
      padding: 1.5rem 2rem;
    }
  }

  & input[type=radio] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip-path: inset(100%);

    & + label {
      width: 100%;
      position: relative;
    }

    &:checked {
      & + label {
        border: 1px solid @green;
        background-color: @green;
        color: @light;
      }
    }
  }
}

.app__form .form {
  display: flex;
  gap: 10em;
  margin-bottom: 10em;

  @media (min-width: @xl-width) {
    display: grid;
    gap: 2.2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name phone email" "message message button" "note note note";
    align-items: start;
  }

  &__fieldwrap {
    width: 100%;

    &--name {
      @media (min-width: @md-width) {
        grid-area: name;
      }
    }

    &--phone {
      @media (min-width: @md-width) {
        grid-area: phone;
      }
    }

    &--email {
      @media (min-width: @md-width) {
        grid-area: email;
      }
    }

    &--message {
      @media (min-width: @md-width) {
        grid-area: message;
      }
    }
  }

  & input[type=text],
  & input[type=tel],
  & input[type=email],
  & textarea {
    background: transparent;
    max-width: unset;
    width: 100%;
    .text();
    border: 1px solid #D9D9D9;
    border-radius: 0.63em;
    padding: 0.68em 0.63em;

    @media (min-width: @md-width) {
      padding: 0.5em 0.77em;
      min-height: 6.8rem;
    }

    &:hover,
    &:focus {
      outline-color: #78A5C6;
    }

    &::placeholder {
      color: #433C3C;
    }
  }

  &__btn-submit {
    .btn-reset();
    width: 100%;
    .menu-item();
    border-radius: 0.63em;
    padding: 0.68em 0.63em;
    background-color: #78A5C6;
    color: @light;

    &:hover,
    &:focus {
      outline-color: #78A5C6;
    }

    @media (min-width: @md-width) {
      .text-title();
      padding: 0.68em 0.79em;
      min-height: 6.8rem;
      grid-area: button;
    }
  }
}

.contacts .form {
  display: flex;
  gap: 10em;
  margin-bottom: 10em;

  @media (min-width: @xl-width) {
    display: grid;
    column-gap: 3.5rem;
    row-gap: 3rem;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-areas: "name name email" "message message message" "note note button";
    align-items: start;
  }



  &__fieldwrap {
    width: 100%;

    &--name {
      @media (min-width: @md-width) {
        grid-area: name;
      }
    }

    &--phone {
      @media (min-width: @md-width) {
        grid-area: phone;
      }
    }

    &--email {
      @media (min-width: @md-width) {
        grid-area: email;
      }
    }

    &--message {
      @media (min-width: @md-width) {
        grid-area: message;
      }
    }
  }

  & input[type=text],
  & input[type=tel],
  & input[type=email],
  & textarea {
    background: transparent;
    max-width: unset;
    width: 100%;
    .text();
    border: 1px solid #D9D9D9;
    border-radius: 0.63em;
    padding: 0.68em 0.63em;

    @media (min-width: @md-width) {
      padding: 0.5em 0.77em;
      min-height: 6.8rem;
    }

    &:hover,
    &:focus {
      outline-color: #78A5C6;
    }

    &::placeholder {
      color: #433C3C;
    }
  }

  &__btn-submit {
    .btn-reset();
    width: 100%;
    .menu-item();
    border-radius: 0.63em;
    padding: 0.68em 0.63em;
    background-color: #78A5C6;
    color: @light;

    &:hover,
    &:focus {
      outline-color: #78A5C6;
    }

    @media (min-width: @md-width) {
      .text-title();
      padding: 0.68em 0.79em;
      min-height: 6.8rem;
      grid-area: button;
    }
  }
}
