.main-slider {
  display: flex;

  &__image,
  &__text {
    width: 50%;
    flex-grow: 1;
  }

  &__text {
    display: none;


    @media (min-width: @md-width) {
      display: flex;
      align-items: center;
    }
  }

  &__img-wrap,
  &__text-wrap {
    width: 100%;
    max-width: calc(2000px / 2);

    @media (min-width: @lg-width) {

    }
  }

  &__img-wrap {
    &.swiper {
      margin-right: 0;
    }
  }

  &__img-list {
    .list();
    margin-left: auto;

    & > li {
      aspect-ratio: 1 / 1;
      max-height: 100vh;
      overflow: hidden;

      @media (min-width: @lg-width) {
        aspect-ratio: unset;
        height: 100vh;
        max-height: 895px;
      }
    }

    & img {
      .mp();
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;

    }
  }

  &__text-wrap {
    margin-right: auto;
    font-size: calc(10vw / 200);
    padding: 10em 10em 10em 100em;

    @media (min-width: @max-width) {
      padding: 1rem 1rem 1rem 10rem;
    }

    & p {
      width: 60%;
      .mp();
      .text();
      font-size: 26em;

      @media (min-width: @md-width) {
        font-size: 26em;
      }

      @media (min-width: @max-width) {
        font-size: 2.6rem;
      }
    }
  }

  /*Буллеты*/
  & .swiper-pagination {
    bottom: 0;


    @media (min-width: @lg-width) {
      text-align: right;
      padding-right: 15px;
    }
  }

  & .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    line-height: 10px;
    background-color: @light;
    opacity: 0.5;

    @media (min-width: @lg-width) {
      width: 15px;
      height: 15px;
      line-height: 15px;
    }

    &-active {
      opacity: 1;
    }
  }
}
