.logo {
  display: inline-block;
  position: relative;
  .mp();

  & span {
    color: @green;
  }

  &::before {
    content: "";
    position: absolute;
    transform: translateY(-50%) rotate(-90deg);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, @light 100%, @light 100%), url("../img/logo/bg-logo.png");
    background-size: contain;
    opacity: 0.2;
    z-index: -1;
  }
}

.main-header .logo {
  .h1();

  &::before {
    top: 50%;
    right: -80px;
    width: 3.95em;
    height: 5.65em;
  }
}
