.main-header .site-nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  .container();
  padding: 40em 20em;
  background-color: @light;
  transform: translateY(-100%);
  transition: @transition;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @md-width) {
    padding: 4rem 2rem;
  }

  @media (min-width: @lg-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
    position: unset;
    top: unset;
    left: unset;
    transform: translateY(0);
    background-color: transparent;
    padding: 0;
  }



  &--opened {
    top: 0;
    transform: translateY(0);
  }

  &__list {
    .list();
    .menu-item();
    display: flex;
    flex-direction: column;
    gap: 0.6em;
    margin-bottom: 1.75em;

    @media (min-width: @md-width) {
      gap: 0.6rem;
    }

    @media (min-width: @lg-width) {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      color: @light;
      column-gap: 50px;
      margin-bottom: 0;
    }
  }

  & li {

    & a {
      display: inline-flex;
      justify-content: center;
      width: 100%;
      color: inherit;
      text-decoration: none;
      transition: @transition;
      outline: none;

      &:hover,
      &:focus {
        color: @green;
      }
    }
  }
}

.page--index .site-nav {
  &__list {
    @media (min-width: @lg-width) {
      width: 40%;
      flex-grow: 1;
      justify-content: flex-start;
    }

    & li {
      &:first-child {
        display: none;
      }
    }
  }
}

.page--inner .site-nav {
  @media (min-width: @lg-width) {
    width: 100%;
    align-items: center;
    gap: 7vw;
  }

  @media (min-width: @max-width) {
    gap: 20rem;
  }
  &__list {
    color: @dark-gray;

    @media (min-width: @lg-width) {
      font-size: 2.6rem;
      flex-grow: 1;
    }

    & li {
      &.selected {
        color: @green;
      }

      &:first-child {
        @media (min-width: @lg-width) {
          display: none;
        }
      }
    }
  }
}
