.main-footer {
  position: relative;
  background-color: @dark-gray;
  color: @light;
  padding-top: 30em;
  padding-bottom: 30em;

  @media (max-width: @mobile-width-only) {
    font-size: calc(100vw / 320);
  }

  @media (min-width: @md-width) {
    padding-top: 6rem;
    padding-bottom: 9.7rem;
  }

  &__wrap {
    .container();


    @media (min-width: @md-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
        "logo right-column"
        "contacts right-column"
        "about right-column";
      column-gap: 20%;
    }

    @media (min-width: @lg-width) {
      grid-template-columns: 1fr 2fr;
      grid-template-areas:
        "logo menu"
        "contacts menu"
        "about menu"
        "right-column menu";
      column-gap: 13.5rem;
    }

    @media (min-width: @xl-width) {
      grid-template-columns: 270px 500px 230px;
      grid-template-areas:
        "logo menu right-column"
        "contacts menu right-column"
        "about menu right-column";
      justify-content: space-between;
      column-gap: unset;
    }

    @media (min-width: @max-width) {
      grid-template-columns: 270px 660px 370px;
      justify-content: space-between;
    }
  }

  &__menu {
    display: none;
    .menu-item();
    grid-area: menu;


    @media (min-width: @lg-width) {
      display: flex;
      justify-content: space-between;
    }

    & ul {
      .list();
      display: flex;
      flex-direction: column;
      gap: 3rem;

      & li {
        & a {
          color: inherit;
          text-decoration: none;
          transition: @transition;

          &:hover,
          &:focus {
            color: @green;
          }
        }
      }
    }

  }


  &__contacts {
    .list();
    .text();
    margin-bottom: 1.24em;

    @media (min-width: @md-width) {
      font-size: 2rem;
      margin-bottom: 2.4rem;
      grid-area: contacts;
    }

    & li {
      & a {
        color: inherit;
        text-decoration: none;
        transition: @transition;

        &:hover,
        &:active {
          color: @green;
        }
      }
    }
  }

  &__about {
    .mp();
    .text();
    opacity: 0.5;
    margin-bottom: 1.25em;

    @media (min-width: @md-width) {
      font-size: 2rem;
      margin-bottom: 0;
      grid-area: about;
      margin-bottom: 2rem;
    }
  }

  &__right-column {
    display: flex;
    justify-content: space-between;

    @media (min-width: @md-width) {
      grid-area: right-column;
    }
  }

  & .age-limit {
    .mp();
    font-size: 16em;
    position: relative;
    display: flex;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    border: 1px solid @light;
    justify-content: center;
    align-items: center;

    &::after {
      content: "+";
    }

    @media (min-width: @md-width) {
      font-size: 2rem;
      width: 5rem;
      height: 5rem;
    }
  }
}
