.btn {
  .btn-reset();
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  height: 45px;
  border: 1px solid;
  transition: @transition;

  &--blue {
    background-color: #78A5C6;
    border-color: #78A5C6;
    color: @light;
  }
}

